In [75]:
import pandas as pd
from sqlalchemy import create_engine

In [112]:
approval_load = "./Sources/Approval_list.csv"
header_load = "./Sources/Order_header_list.csv"
line_load = "./Sources/Order_line_list.csv"
star_load = "./Sources/STARS_classification_2020.csv"
rate_load = "./Sources/EX_Rate_Apr2020.csv"

approval_data = pd.read_csv(approval_load)
header_data = pd.read_csv(header_load)
line_data = pd.read_csv(line_load)
star_data = pd.read_csv(star_load)
rate_data = pd.read_csv(rate_load)

print(rate_data.columns.values)
print(star_data.columns.values)
print(header_data.columns.values)
print(approval_data.columns.values)
print(line_data.columns.values)

['Currency' 'concatenate' 'ex rate to use 2019']
['Market/ Marché' 'Category / Categorie'
 'Technological Group / Regroupement Technologique' 'Family / Famille']
['Req' 'PO Number' 'Order Date' 'Status' 'Transmission Status'
 'Unanswered Comments' 'Items' 'Total' 'Currency']
['Document Number' 'Document' 'Document Total' 'Approver' 'Delegates'
 'Approval Limit' 'Submission Date (UTC)' 'First Notification (UTC)'
 'Approval Date (UTC)' 'Local Approval Date' 'Approval Duration' 'Status'
 'Note' 'Position' 'Type' 'Approval Chain' 'Override' 'Reasons'
 'Skip Escalation']
['Line' 'PO Number (Header)' 'Order Status (Header)'
 'Order Transmission Status (Header)' 'Item' 'Line Total' 'Currency'
 'Account' 'Chart Of Accounts' 'Contract Number' 'ERP'
 'Item Classification' 'Accounting Total Currency']

In [77]:
currency = rate_data["Currency"]
concatenate = rate_data["concatenate"]
exchange_rate = round(rate_data["ex rate to use 2019"],6)

rate_df = pd.DataFrame({"Currency":currency,
                        "Exchange Code":concatenate,
                        "Exchange Rate to EUR":exchange_rate})

rate_df.head()

  Currency Exchange Code  Exchange Rate to EUR
0      EUR       EUR2019              1.000000
1      AED       AED2019              0.242220
2      AOA       AOA2019              0.002626
3      ARS       ARS2019              0.017691
4      AUD       AUD2019              0.617868

In [80]:
# Export DataFrame to CSV File
export_csv = rate_df.to_csv ('./Output_Files/ex_rate_modified.csv', index = None, header=True)

In [81]:
star_data.head()

,Market/ Marché,Category / Categorie,Technological Group / Regroupement Technologique,Family / Famille
0,SE,NaN,NaN,NaN
1,SE,E2,NaN,NaN
2,SE,E2,E2,NaN
3,SE,E2,E2,14A
4,SE,E2,E2,14B

In [82]:
market = star_data["Market/ Marché"]
category = star_data["Category / Categorie"]
technology = star_data["Technological Group / Regroupement Technologique"]
family = star_data["Family / Famille"]

star_df = pd.DataFrame({"Family":family,
                        "Market":market,
                        "Category":category,
                        "Technology":technology})

star_df.head()

  Family Market Category Technology
0    NaN     SE      NaN        NaN
1    NaN     SE       E2        NaN
2    NaN     SE       E2         E2
3    14A     SE       E2         E2
4    14B     SE       E2         E2

In [83]:
star_df.count()

Family        168
Market        251
Category      250
Technology    229
dtype: int64

In [84]:
star_df_modified = star_df.dropna(how='any')
star_df_modified.count()

Family        168
Market        168
Category      168
Technology    168
dtype: int64

In [85]:
star_df_modified.head()

  Family Market Category Technology
3    14A     SE       E2         E2
4    14B     SE       E2         E2
5    14C     SE       E2         E2
6    14D     SE       E2         E2
7    14I     SE       E2         E2

In [86]:
# Export DataFrame to CSV File
export_csv = star_df_modified.to_csv ('./Output_Files/star_modified.csv', index = None, header=True)

In [87]:
header_data.head()

,Req,PO Number,Order Date,Status,Transmission Status,Unanswered Comments,Items,Total,Currency
0,25586,8000016091,02/27/20,Issued,Sent via Email,False,1 Each of MUVIT SUPPORT UNIVERSEL NOIR ROTATIF...,66.79,EUR
1,23295,8000016090,02/27/20,Issued,Sent via Email,False,1 Each of (ST)Stylo bille Bic 4 couleurs 3 + 1...,51.90,EUR
2,25352,8000016089,02/27/20,Issued,Sent via Email,False,"1 Each of Cotisation 2020 RESEAU ALLIANCES,1 E...",570.00,EUR
3,25189,8000016088,02/27/20,Issued,Sent via Email,False,1 Each of REGUL FACT ESCALE REPAS FORMATION 0...,906.47,EUR
4,15750,8000016087,02/27/20,Issued,Sent via Email,False,"1 Each of intégration caméra et marquage T-3,1...",730.00,EUR

In [118]:
header_df = header_data.drop(columns=['Items', 'Total','Currency','Unanswered Comments'])
header_df.head()

     Req   PO Number Order Date  Status Transmission Status
0  25586  8000016091   02/27/20  Issued      Sent via Email
1  23295  8000016090   02/27/20  Issued      Sent via Email
2  25352  8000016089   02/27/20  Issued      Sent via Email
3  25189  8000016088   02/27/20  Issued      Sent via Email
4  15750  8000016087   02/27/20  Issued      Sent via Email

In [89]:
req_num = header_df["Req"]
PO_num = header_df["PO Number"]
order_date = header_df["Order Date"]
status = header_df["Status"]
t_status = header_df["Transmission Status"]

header_df_mod = pd.DataFrame({"PO Number":PO_num,
                              "Requisition Number":req_num,
                              "Order Date":order_date,
                              "Status":status,
                              "Transmission Method":t_status})

header_df_mod.head()

    PO Number  Requisition Number Order Date  Status Transmission Method
0  8000016091               25586   02/27/20  Issued      Sent via Email
1  8000016090               23295   02/27/20  Issued      Sent via Email
2  8000016089               25352   02/27/20  Issued      Sent via Email
3  8000016088               25189   02/27/20  Issued      Sent via Email
4  8000016087               15750   02/27/20  Issued      Sent via Email

In [90]:
header_df_mod.drop_duplicates("Requisition Number", inplace=True)
header_df_mod.head()

    PO Number  Requisition Number Order Date  Status Transmission Method
0  8000016091               25586   02/27/20  Issued      Sent via Email
1  8000016090               23295   02/27/20  Issued      Sent via Email
2  8000016089               25352   02/27/20  Issued      Sent via Email
3  8000016088               25189   02/27/20  Issued      Sent via Email
4  8000016087               15750   02/27/20  Issued      Sent via Email

In [127]:
len(header_df_mod["Requisition Number"].unique())

15971

In [92]:
header_df_mod.dtypes

PO Number               int64
Requisition Number      int64
Order Date             object
Status                 object
Transmission Method    object
dtype: object

In [93]:
# Export DataFrame to CSV File
export_csv = header_df_mod.to_csv ('./Output_Files/header_modified.csv', index = None, header=True)

In [94]:
approval_data.head()

,Document Number,Document,Document Total,Approver,Delegates,Approval Limit,Submission Date (UTC),First Notification (UTC),Approval Date (UTC),Local Approval Date,Approval Duration,Status,Note,Position,Type,Approval Chain,Override,Reasons,Skip Escalation
0,9,Requisition #9,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
1,11,Requisition #11,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
2,12,Requisition #12,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
3,14,Requisition #14,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
4,15,Requisition #15,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False

In [95]:
approval_df = approval_data.drop(columns=['Document'])
approval_df.head()

,Document Number,Document Total,Approver,Delegates,Approval Limit,Submission Date (UTC),First Notification (UTC),Approval Date (UTC),Local Approval Date,Approval Duration,Status,Note,Position,Type,Approval Chain,Override,Reasons,Skip Escalation
0,9,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
1,11,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
2,12,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
3,14,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False
4,15,0.0,IC&D Pacy,None,NaN,NaN,NaN,NaN,NaN,NaN,pending_approval,NaN,1,UltimateApproverApproval,0,0,The requester has no manager defined.,False

In [124]:
approval_df[approval_df["Status"]=="approved"].shape

(35695, 18)

In [96]:
approval_df.count()

Document Number             62141
Document Total              62141
Approver                    62141
Delegates                   62141
Approval Limit              28106
Submission Date (UTC)       61094
First Notification (UTC)    35235
Approval Date (UTC)         57475
Local Approval Date         57475
Approval Duration           34480
Status                      62141
Note                         2320
Position                    62141
Type                        62141
Approval Chain              62141
Override                    62141
Reasons                     60584
Skip Escalation             62141
dtype: int64

In [97]:
approval_df_modified = approval_df[approval_df['Approval Duration'].notnull()] 
approval_df_modified.head()

,Document Number,Document Total,Approver,Delegates,Approval Limit,Submission Date (UTC),First Notification (UTC),Approval Date (UTC),Local Approval Date,Approval Duration,Status,Note,Position,Type,Approval Chain,Override,Reasons,Skip Escalation
14,47,9.36,Digital Procurement Operations,None,"30,000.00",05/24/19 09:37 AM,05/24/19 09:37 AM,05/24/19 09:45 AM,05/24/19 11:45 AM,0 - 00:07:49,approved,Smoke test Dummy PR,1,ApprovalChainApproval,132,0,Added by the approval chain Non-Catalog Requis...,False
15,53,13.05,Digital Procurement Operations,None,"30,000.00",05/24/19 10:44 AM,05/24/19 10:45 AM,05/24/19 10:46 AM,05/24/19 12:46 PM,0 - 00:01:11,approved,Smoke Test - Dummy PR,1,ApprovalChainApproval,132,0,Added by the approval chain Non-Catalog Requis...,False
16,1,16.84,Digital Procurement Operations,None,"100,000,000,000.00",05/24/19 11:57 AM,05/24/19 11:58 AM,05/24/19 12:01 PM,05/24/19 02:01 PM,0 - 00:03:02,approved,NaN,1,ApprovalChainApproval,138,0,Added by the approval chain PO Change - Digita...,False
17,2,8.28,Digital Procurement Operations,None,"100,000,000,000.00",05/24/19 12:05 PM,05/24/19 12:05 PM,05/24/19 12:09 PM,05/24/19 02:09 PM,0 - 00:03:10,approved,NaN,1,ApprovalChainApproval,138,0,Added by the approval chain PO Change - Digita...,False
18,55,125000.00,Digital Procurement Operations,None,"30,000.00",06/04/19 12:30 PM,06/04/19 01:45 PM,06/04/19 01:49 PM,06/04/19 03:49 PM,0 - 00:03:48,approved,NaN,1,ApprovalChainApproval,132,0,Added by the approval chain Non-Catalog Requis...,False

In [98]:
approval_df_modified.dtypes

Document Number               int64
Document Total              float64
Approver                     object
Delegates                    object
Approval Limit               object
Submission Date (UTC)        object
First Notification (UTC)     object
Approval Date (UTC)          object
Local Approval Date          object
Approval Duration            object
Status                       object
Note                         object
Position                      int64
Type                         object
Approval Chain                int64
Override                      int64
Reasons                      object
Skip Escalation                bool
dtype: object

In [101]:
# Export DataFrame to CSV File
export_csv = approval_df_modified.to_csv ('./Output_Files/approval_modified.csv', index = None, header=True)

In [102]:
line_data.head()

,Line,PO Number (Header),Order Status (Header),Order Transmission Status (Header),Item,Line Total,Currency,Account,Chart Of Accounts,Contract Number,ERP,Item Classification,Accounting Total Currency
0,1,8000016091,Issued,Sent via Email,MUVIT SUPPORT UNIVERSEL NOIR ROTATIF GRI,5.49,EUR,FR02-K - FR026544---PL - FR02 - FR65--,SE France (FR02),10058250.0,BEU,Computer Peripherals / Photocopiers --- Office...,EUR
1,2,8000016091,Issued,Sent via Email,Targus DrifterTrek with USB Power Pass-T,53.30,EUR,FR02-K - FR026544---PL - FR02 - FR65--,SE France (FR02),10058250.0,BEU,Computer Peripherals / Photocopiers --- Office...,EUR
2,3,8000016091,Issued,Sent via Email,FRAIS DE PORT,8.00,EUR,FR02-K - FR026544---PL - FR02 - FR65--,SE France (FR02),10058250.0,BEU,Computer Peripherals / Photocopiers --- Office...,EUR
3,1,8000016090,Issued,Sent via Email,(ST)Stylo bille Bic 4 couleurs 3 + 1 HB - poin...,2.84,EUR,FR02-K - FR026544---PL - FR02 - FR65--,SE France (FR02),10235602.0,BEU,Office Supplies --- Office Supplies (Incl Copy...,EUR
4,2,8000016090,Issued,Sent via Email,(ST)Pile bouton lithium Energizer CR2025 - pac...,5.39,EUR,FR02-K - FR026544---PL - FR02 - FR65--,SE France (FR02),10235602.0,BEU,Office Supplies --- Office Supplies (Incl Copy...,EUR

In [111]:
line_data["PO-ID"] = str(line_data["PO Number (Header)"]) + "-" + str(line_data["Line"])
line_data["PO-ID"]

0        0        8000016091\n1        8000016091\n2   ...
1        0        8000016091\n1        8000016091\n2   ...
2        0        8000016091\n1        8000016091\n2   ...
3        0        8000016091\n1        8000016091\n2   ...
4        0        8000016091\n1        8000016091\n2   ...
                               ...
40108    0        8000016091\n1        8000016091\n2   ...
40109    0        8000016091\n1        8000016091\n2   ...
40110    0        8000016091\n1        8000016091\n2   ...
40111    0        8000016091\n1        8000016091\n2   ...
40112    0        8000016091\n1        8000016091\n2   ...
Name: PO-ID, Length: 40113, dtype: object

In [103]:
line = line_data["Line"]
po_num = line_data["PO Number (Header)"]
order_status = line_data["Order Status (Header)"]
t_status = line_data["Order Transmission Status (Header)"]
item = line_data["Item"]
line_total = line_data["Line Total"]
currency = line_data["Currency"]
account = line_data["Account"]
chart = line_data["Chart Of Accounts"]
contract = line_data["Contract Number"]
erp = line_data["ERP"]
item_class = line_data["Item Classification"]
account_total = line_data["Accounting Total Currency"]



line_df = pd.DataFrame({"PO Number":po_num,
                        "PO Line Number":line,
                        "Item Classification":item_class,
                        "Item Description":item,
                        "Line Total":line_total,
                        "Currency":currency,
                        "Order Status":order_status,
                        "Order Transmission Status":t_status,
                        "Chart Of Accounts":chart,
                        "Account":account,
                        "Account Total Currency":account_total,
                        "Contract Number":contract,
                        "ERP":erp})

line_df.head()

,PO Number,PO Line Number,Item Classification,Item Description,Line Total,Currency,Order Status,Order Transmission Status,Chart Of Accounts,Account,Account Total Currency,Contract Number,ERP
0,8000016091,1,Computer Peripherals / Photocopiers --- Office...,MUVIT SUPPORT UNIVERSEL NOIR ROTATIF GRI,5.49,EUR,Issued,Sent via Email,SE France (FR02),FR02-K - FR026544---PL - FR02 - FR65--,EUR,10058250.0,BEU
1,8000016091,2,Computer Peripherals / Photocopiers --- Office...,Targus DrifterTrek with USB Power Pass-T,53.30,EUR,Issued,Sent via Email,SE France (FR02),FR02-K - FR026544---PL - FR02 - FR65--,EUR,10058250.0,BEU
2,8000016091,3,Computer Peripherals / Photocopiers --- Office...,FRAIS DE PORT,8.00,EUR,Issued,Sent via Email,SE France (FR02),FR02-K - FR026544---PL - FR02 - FR65--,EUR,10058250.0,BEU
3,8000016090,1,Office Supplies --- Office Supplies (Incl Copy...,(ST)Stylo bille Bic 4 couleurs 3 + 1 HB - poin...,2.84,EUR,Issued,Sent via Email,SE France (FR02),FR02-K - FR026544---PL - FR02 - FR65--,EUR,10235602.0,BEU
4,8000016090,2,Office Supplies --- Office Supplies (Incl Copy...,(ST)Pile bouton lithium Energizer CR2025 - pac...,5.39,EUR,Issued,Sent via Email,SE France (FR02),FR02-K - FR026544---PL - FR02 - FR65--,EUR,10235602.0,BEU

In [104]:
line_df.count()

PO Number                    40113
PO Line Number               40113
Item Classification          40113
Item Description             40112
Line Total                   40113
Currency                     40113
Order Status                 40113
Order Transmission Status    40113
Chart Of Accounts            40113
Account                      40113
Account Total Currency       40113
Contract Number              19593
ERP                          39933
dtype: int64

In [105]:
line_df.dtypes

PO Number                      int64
PO Line Number                 int64
Item Classification           object
Item Description              object
Line Total                   float64
Currency                      object
Order Status                  object
Order Transmission Status     object
Chart Of Accounts             object
Account                       object
Account Total Currency        object
Contract Number              float64
ERP                           object
dtype: object

In [106]:
# Export DataFrame to CSV File
export_csv = line_df.to_csv ('./Output_Files/line_modified.csv', index = None, header=True)

## After creation of SQL database and importing data, connect to local db

In [107]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/DataAnalyticsBootcamp-Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [73]:
engine.table_names()

In [ ]:
pd.read_sql_query('select * from exchange_rates', con=engine).head()
pd.read_sql_query('select * from ', con=engine).head()